body
{    
    background-image: linear-gradient(to top, #fec3c5 0%, #ffe2af 99%);
}
.col-md-6
{
    border: 7px solid black;
    margin-top: 150px !important;
    padding: 20px;
}
button
{
    margin: 20px !important;
    border: 4px solid rgba(128, 128, 128, 0.692) !important;
}
h1{
    font-weight: bolder !important;
    margin:20px !important;
}